{% extends "base.php.twig" %}

{% block title %}Welcome{% endblock %}

{% block header %}
    <header>
        <h1>Welcome To Bjornstad</h1>
        <p>Endrborinn Edition</p>
        <p>Version: 2.1</p>
        <p>PHP Version: 8.2</p>
    </header>
{% endblock %}